.header{
	background-image: url('http://i557.photobucket.com/albums/ss15/Abarnard13/React%20click_zpsgozndxim.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	align-content: center;
	float: center;
	padding-bottom: 15px;
	padding-top: 15px;

	
}

h1{
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	padding: 90px 0 20px 0; 
	color:  #c6d9ec;
	font-family: 'Source Sans Pro', sans-serif;
	visibility: hidden;
	;
}

h2{
	text-align: center;
	font-size: 15px;
	padding-bottom: 5px;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
}
